{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <a class="btn btn-outline-primary" href="{{ authLink }}">
                <img class="" src="/src/public/images/icons/icon-google.svg" alt="google-icon">
                Authorize Access To Your Google Account
            </a>
        </div>
    </div>
{% endblock %}