<div class="container">
    <div class="row">
        <a tabindex="0" class="btn btn-block btn-outline-light d-flex align-items-center ng-tns-c75-1"
           href="{{ authLink }}">
            <img class="" src="/src/public/images/icons/icon-google.svg"
                 alt="google-icon">
            <span class=""> Authorize Google Account </span>
        </a>
    </div>
</div>