<label for="eventCalendar" class="form-label">Select a calendar</label>
<select id="eventCalendar" name="eventCalendar" class="form-control">
    <option selected disabled>Select a calendar</option>
    {% for calendar in calendars %}
        <option value="{{ calendar.id }}">
            {{ calendar.summary }}
        </option>
    {% endfor %}
</select>