<div class=" bg-danger bg-opacity-25 dash__summary-card__stat px-3" style="height: 75px;">
    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#A84F4F"></i>
    <span class="fw-normal" style="color:#A84F4F">&nbsp;{{ message }}</span>
</div>
