{% extends "base.twig" %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div id="content" class="">
            <div class="mb-3">
                <h4>List Events</h4>
            </div>
            <form id="get-events-form">
                <div class="mb-3">
                    <label for="dateTimeStart" class="form-label">From</label>
                    <input id="dateTimeStart" type="text" class="form-control" placeholder="Select start" name="dateTimeStart">
                </div>
                <div class="mb-3">
                    <label for="dateTimeEnd" class="form-label">Until</label>
                    <input id="dateTimeEnd" type="text" class="form-control" placeholder="Select end" name="dateTimeEnd">
                </div>
                <div class="mb-3">
                    {% include "google-calendar-integration/components/calendar-list.twig" with {calendars: calendars} %}
                </div>
                <input type="hidden" id="timeZone" name="timeZone">
                {{ "get-events-form" | formToken | raw }}
            </form>
            <div class="mb-3">
                <button class="btn btn-success" onclick="fetchEvents('{{ linkKey }}', '{{ linkValue }}')">Fetch</button>
            </div>
            <div class="container">
                <div id="eventsList" class="row">
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadCalendarEvent(url){
            $.ajax({
                url: url,
                data: "",
                method: "get"
            }).done(function (response) {
                document.getElementById("content").innerHTML = response.data;
                eval(response.selectizeJs);
            });
        }
    </script>
{% endblock %}